이 코드의 문서 : https://www.notion.so/GEARS-perturb-seq-bc7280ec1fad407291d6f8145df9c068?pvs=4

In [61]:
import scanpy
import pandas as pd
import anndata
import os
os.chdir("/media/hdd/hb/lof/perturb_seq/geo_raw_data/dixit_gse90063")

In [250]:
exp = anndata.read_mtx("/media/hdd/hb/lof/perturb_seq/geo_raw_data/dixit_gse90063/GSM2396861_k562_ccycle.mtx")
exp

AnnData object with n_obs × n_vars = 22783 × 25971

In [251]:
cbc_gbc_dic = pd.read_csv("/media/hdd/hb/lof/perturb_seq/geo_raw_data/dixit_gse90063/GSM2396861_k562_ccycle_cbc_gbc_dict.csv", sep=',', header=None, names=['cbc', 'gbc'])
cell_info = pd.read_csv("/media/hdd/hb/lof/perturb_seq/geo_raw_data/dixit_gse90063/GSM2396861_k562_ccycle_cellnames.csv", names=['cell_barcode'], header=None, skiprows=1)
gene_info = pd.read_csv("/media/hdd/hb/lof/perturb_seq/geo_raw_data/dixit_gse90063/GSM2396861_k562_ccycle_genenames.csv", header=None, skiprows=1, names=['gene_name'])

In [252]:
gene_info['gene_id'] = gene_info['gene_name'].apply(lambda x: x.split('_')[0])
gene_info['gene_symbol'] = gene_info['gene_name'].apply(lambda x: x.split('_')[1])
gene_info.index = gene_info['gene_id']
del gene_info['gene_id']
gene_info

                                    gene_name   gene_symbol
gene_id
ENSG00000186092         ENSG00000186092_OR4F5         OR4F5
ENSG00000238009  ENSG00000238009_RP11-34P13.7  RP11-34P13.7
ENSG00000239945  ENSG00000239945_RP11-34P13.8  RP11-34P13.8
ENSG00000237683    ENSG00000237683_AL627309.1    AL627309.1
ENSG00000241599  ENSG00000241599_RP11-34P13.9  RP11-34P13.9
...                                       ...           ...
ENSG00000212884    ENSG00000212884_AC011841.1    AC011841.1
ENSG00000215615    ENSG00000215615_AL354822.1    AL354822.1
ENSG00000215700         ENSG00000215700_PNRC2         PNRC2
ENSG00000215699        ENSG00000215699_SRSF10        SRSF10
ENSG00000268590         ENSG00000268590_BAGE5         BAGE5

[22783 rows x 2 columns]

In [253]:
cell_info.index = cell_info['cell_barcode']
del cell_info['cell_barcode']
cell_info

Empty DataFrame
Columns: []
Index: [AAACATACATGTGC_cc7d_D2, AAACATACATTCCT_cc7d_D2, AAACATACCCCGTT_cc7d_D2, AAACATACGATAGA_cc7d_D2, AAACATACGTACGT_cc7d_D2, AAACATACTTTCTG_cc7d_D2, AAACCGTGAGCCTA_cc7d_D2, AAACCGTGTACAGC_cc7d_D2, AAACCGTGTGAGGG_cc7d_D2, AAACGCACCCGAAT_cc7d_D2, AAACGCACCCTCCA_cc7d_D2, AAACGCACGAGATA_cc7d_D2, AAACGCACGTACGT_cc7d_D2, AAACGCACTTTACC_cc7d_D2, AAACGCTGAACGAA_cc7d_D2, AAACGCTGCCCAAA_cc7d_D2, AAACGCTGTCTTTG_cc7d_D2, AAACGCTGTGCTCC_cc7d_D2, AAACGGCTATGCCA_cc7d_D2, AAACGGCTCCCAAA_cc7d_D2, AAACGGCTGCAGAG_cc7d_D2, AAACGGCTGCTGTA_cc7d_D2, AAACGGCTGTGTCA_cc7d_D2, AAACTTGAATACCG_cc7d_D2, AAACTTGACCATGA_cc7d_D2, AAACTTGACTACCC_cc7d_D2, AAACTTGAGCTTAG_cc7d_D2, AAACTTGATCGCCT_cc7d_D2, AAACTTGATTAGGC_cc7d_D2, AAACTTGATTATCC_cc7d_D2, AAAGACGACAAGCT_cc7d_D2, AAAGACGATCTCTA_cc7d_D2, AAAGAGACGAATAG_cc7d_D2, AAAGAGACTCTAGG_cc7d_D2, AAAGATCTCTAGCA_cc7d_D2, AAAGATCTGCTTAG_cc7d_D2, AAAGATCTGGGACA_cc7d_D2, AAAGATCTGGTATC_cc7d_D2, AAAGATCTTCCTAT_cc7d_D2, AAAGATCTTCTAGG_cc7d_D2, AAAGCAGATGATGC_cc7d_D2, AAAGCCTGAGGAGC_cc7d_D2, AAAGCCTGAGTGTC_cc7d_D2, AAAGCCTGCGCATA_cc7d_D2, AAAGCCTGGACGTT_cc7d_D2, AAAGCCTGGGGCAA_cc7d_D2, AAAGGCCTGCGATT_cc7d_D2, AAAGGCCTGGTCTA_cc7d_D2, AAAGGCCTTCCTAT_cc7d_D2, AAAGGCCTTGCACA_cc7d_D2, AAAGGCCTTGGAGG_cc7d_D2, AAAGTTTGATGACC_cc7d_D2, AAAGTTTGTTCTGT_cc7d_D2, AAAGTTTGTTTGCT_cc7d_D2, AAATACTGAAGGCG_cc7d_D2, AAATACTGACGTAC_cc7d_D2, AAATACTGGTGCTA_cc7d_D2, AAATACTGTCAGGT_cc7d_D2, AAATACTGTGCAAC_cc7d_D2, AAATCAACATGTCG_cc7d_D2, AAATCAACTAAAGG_cc7d_D2, AAATCAACTGCTAG_cc7d_D2, AAATCATGAAGGTA_cc7d_D2, AAATCATGGAATCC_cc7d_D2, AAATCATGTTTGCT_cc7d_D2, AAATCCCTAGAATG_cc7d_D2, AAATCCCTCTCTTA_cc7d_D2, AAATCCCTGTAAAG_cc7d_D2, AAATCTGAAGATGA_cc7d_D2, AAATCTGAAGGAGC_cc7d_D2, AAATCTGAGGGACA_cc7d_D2, AAATCTGATCCAAG_cc7d_D2, AAATCTGATGGGAG_cc7d_D2, AAATCTGATGGTTG_cc7d_D2, AAATGGGATCCGAA_cc7d_D2, AAATGTTGAACCTG_cc7d_D2, AAATGTTGCTACCC_cc7d_D2, AAATGTTGCTCGAA_cc7d_D2, AAATGTTGCTCGCT_cc7d_D2, AAATTCGAAAACAG_cc7d_D2, AAATTCGAAACCTG_cc7d_D2, AAATTCGATACGCA_cc7d_D2, AAATTGACCTCTTA_cc7d_D2, AAATTGACTGTCTT_cc7d_D2, AACAAACTAGTCAC_cc7d_D2, AACAAACTCCAGTA_cc7d_D2, AACAAACTGATGAA_cc7d_D2, AACAAACTTAAGGA_cc7d_D2, AACAAACTTCTACT_cc7d_D2, AACAATACACACCA_cc7d_D2, AACAATACATGCTG_cc7d_D2, AACAATACCAACTG_cc7d_D2, AACAATACGCAGAG_cc7d_D2, AACAATACGCGAGA_cc7d_D2, AACAATACGTCTAG_cc7d_D2, AACACGTGGCATAC_cc7d_D2, AACACGTGGTCGAT_cc7d_D2, AACACTCTCACTTT_cc7d_D2, AACACTCTCCTATT_cc7d_D2, AACACTCTCGGAGA_cc7d_D2, ...]

[25971 rows x 0 columns]

In [206]:
# total_list = []
# for i in cbc_gbc_dic_lenient['gbc']:
#     total_list.extend(i)
# # [x for x in cbc_gbc_dic_lenient['gbc']]
# len(total_list)

2459590

In [207]:
# total_list = []
# for i in cbc_gbc_dic_strict['gbc']:
#     total_list.extend(i)
# # [x for x in cbc_gbc_dic_lenient['gbc']]
# len(total_list)

1640965

In [254]:
cbc_gbc_dic.index = cbc_gbc_dic['cbc']
del cbc_gbc_dic['cbc']

In [255]:
cell_info['condition'] = 'control'
# cell_info['condition_lenient'] = 'control'
for barcode in cell_info.index:
    try:
        condition = cbc_gbc_dic[cbc_gbc_dic['gbc'].str.contains(barcode)].index.values[0]
        cell_info.loc[barcode]['condition'] = condition
    except:
        cell_info.loc[barcode]['condition'] = 'control'

In [256]:
cell_info

                                 condition
cell_barcode
AAACATACATGTGC_cc7d_D2          c_sgOGG1_2
AAACATACATTCCT_cc7d_D2           c_sgCIT_1
AAACATACCCCGTT_cc7d_D2          c_sgOGG1_3
AAACATACGATAGA_cc7d_D2         c_sgAURKA_3
AAACATACGTACGT_cc7d_D2  c_INTERGENIC393453
...                                    ...
TTTGCATGGCCATA_cc7d_C1        c_sgPTGER2_4
TTTGCATGGCTAAC_cc7d_C1             control
TTTGCATGGCTACA_cc7d_C1         c_sgAURKB_4
TTTGCATGTAGAGA_cc7d_C1         c_sgAURKC_1
TTTGCATGTGTAGC_cc7d_C1      c_sgARHGEF17_1

[25971 rows x 1 columns]

In [257]:
exp

AnnData object with n_obs × n_vars = 22783 × 25971

In [258]:
exp = exp.to_df().T

In [259]:
exp

,0,1,2,3,4,5,6,7,8,9,...,22773,22774,22775,22776,22777,22778,22779,22780,22781,22782
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25966,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
25967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25968,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25969,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [260]:
exp.obs = cell_info
exp.var = gene_info

/tmp/ipykernel_2298418/597258143.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  exp.obs = cell_info

In [261]:
exp.index = cell_info.index
exp.columns = gene_info.index

In [263]:
adata = anndata.AnnData(X=exp, obs=cell_info, var=gene_info)

In [264]:
import hdf5plugin
adata.write_h5ad(
    "/media/hdd/hb/lof/perturb_seq/raw_preprocessing/dixit_k562_ccycle.h5ad",
    compression=hdf5plugin.FILTERS["zstd"]
)

In [265]:
dixit_k562_ccycle = anndata.read_h5ad("/media/hdd/hb/lof/perturb_seq/raw_preprocessing/dixit_k562_ccycle.h5ad")
obs = dixit_k562_ccycle.obs
obs.rename(columns={'condition': 'sgRNA'}, inplace=True)
obs['condition'] = obs['sgRNA'].apply(lambda x: x.split('_')[1] if '_' in x else x)
obs.condition.unique(), len(obs.condition.unique())

(array(['sgOGG1', 'sgCIT', 'sgAURKA', 'INTERGENIC393453', 'sgAURKB',
        'sgAURKC', 'sgCENPE', 'sgPTGER2', 'control', 'sgCABP7', 'sgECT2',
        'sgARHGEF17', 'sgCEP55', 'INTERGENIC216151', 'INTERGENIC345439',
        'sgTOR1AIP1', 'sgRACGAP1'], dtype=object),
 17)

In [270]:
set(dixit_k562_tfs_hmoi.obs.condition.unique()).intersection(set(dixit_k562_ccycle.obs.condition.unique()))

{'INTERGENIC216151', 'INTERGENIC393453', 'control'}

In [266]:
dixit_k562_ccycle

AnnData object with n_obs × n_vars = 25971 × 22783
    obs: 'sgRNA', 'condition'
    var: 'gene_name', 'gene_symbol'